<div class="addContainer">
     <div class="modalHeader">
          <div class="editRowModal">
               <div class="modalHeader clearfix">
                    <div class="modal-about">
                         <div class="fw-bold p-t-5 p-l-10 font-17">
                              Restore User
                         </div>
                    </div>
               </div>
          </div>
          <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
               <mat-icon>close</mat-icon>
          </button>
     </div>
     <div mat-dialog-content>
          <form class="register-form m-4" [formGroup]="userRoleInfo" (ngSubmit)="submit">

               <div class="row">
                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                         <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>{{'Role' | translate}}</mat-label>
                              <mat-select formControlName="userroleId">
                                   <mat-select-filter [placeholder]="'Role'" [displayMember]="'role_name'"
                                        [array]="variablesRoleList" (filteredReturn)="roleList =$event">
                                   </mat-select-filter>
                                   <mat-option *ngFor="let item of roleList" [value]="item.role_id">
                                        {{item.role_name}}
                                   </mat-option>
                              </mat-select>
                         </mat-form-field>
                    </div>
               </div>
               <div class="row">
                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                         <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>{{'Status' | translate}}</mat-label>

                              <mat-select formControlName="userstatus" required>
                                   <mat-option [value]="1">
                                        Active
                                   </mat-option>
                                   <mat-option [value]="2">
                                        Inactive
                                   </mat-option>
                              </mat-select>
                         </mat-form-field>
                    </div>
               </div>
               <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                         <div class="example-button-row">
                              <button mat-raised-button color="primary" [disabled]="!userRoleInfo.valid"
                                   [mat-dialog-close]="1" (click)="restoreUser(data)">Save</button>
                              <button mat-raised-button color="warn" tabindex="-1">Cancel</button>
                         </div>
                    </div>
               </div>
          </form>
     </div>
</div>
