<div class="addContainer">
     <div class="mr-set">
          <div class="row">
               <div class="col-2">
                    <img src="{{invoice_logo}}" height="45px" width="45px">
               </div>
               <div class="col-8 align-div">
                    <div class="editRowModal">
                         <div class=" clearfix">
                              <div class="modal-about">
                                   <div class="fw-bold  font-17">
                                        Restore User
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-2">
                    <button mat-mini-fab (click)="dialogRef.close()" color="warn" aria-label="Close dialog">
                         <mat-icon class="col-white">close </mat-icon>
                    </button>
               </div>
          </div>
     </div>


     <div mat-dialog-content>
          <form class="register-form m-4" [formGroup]="userRoleInfo" (ngSubmit)="submit">

               <div class="row">
                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                         <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>{{'Role' | translate}}</mat-label>
                              <mat-select formControlName="userroleId">
                                   <mat-select-filter [placeholder]="'Role'" [displayMember]="'role_name'"
                                        [array]="variablesRoleList" (filteredReturn)="roleList =$event">
                                   </mat-select-filter>
                                   <mat-option *ngFor="let item of roleList" [value]="item.role_id">
                                        {{item.role_name}}
                                   </mat-option>
                              </mat-select>
                         </mat-form-field>
                    </div>
               </div>
               <div class="row">
                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                         <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>{{'Status' | translate}}</mat-label>

                              <mat-select formControlName="userstatus" required>
                                   <mat-option [value]="1">
                                        Active
                                   </mat-option>
                                   <mat-option [value]="2">
                                        Inactive
                                   </mat-option>
                              </mat-select>
                         </mat-form-field>
                    </div>
               </div>
               <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 align-div">
                         <div class="example-button-row">
                              <button mat-raised-button color="primary" class="width-set-2"
                                   [disabled]="!userRoleInfo.valid" [mat-dialog-close]="1"
                                   (click)="restoreUser(data)">Save</button>
                              <button mat-raised-button color="warn" class="width-set-1" (click)="dialogRef.close()"
                                   tabindex="-1">Cancel</button>
                         </div>
                    </div>
               </div>
          </form>
     </div>
</div>