<div class="wrapper-cust-admin">
    <div class="row mb-2">
        <div class="col-10 dialog-head-left">
            <!-- <h2 mat-dialog-title> {{'Add-Category-Form-Header' | translate}}</h2> -->
        </div>
        <!-- <div class="col-8 dialog-head-center">
                
            </div> -->
        <div class="col-2 dialog-head-right">
            <button class="import-export-btn-datatable cust-margin-div" matTooltip="{{ 'All-exit' | translate }}">
                <img src="{{exitIcon}}" alt="" class="far fa-paper-plane" height="20px">
            </button>
        </div>
    </div>
    <mat-card class="example-card">
        <div class="head-text" [ngClass]="mode == 'on'? 'carddark' : 'cardlight'">
            <h3 class="editing"> Invoice Details
            </h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form class="form" [formGroup]="emailTemplateInfo">
                        <div class="main-cust-image">
                            <div>
                                <mat-form-field class="main-one-input-field" appearance="outline">
                                    <mat-label>Assign to</mat-label>
                                    <input matInput required class="input-capitalized-textfield" placeholder="Assign to"
                                        formControlName="assign_to" />
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="main-one-input-field" appearance="outline">
                                    <mat-label>Vendor Name</mat-label>
                                    <input matInput required placeholder="Vendor Name" formControlName="vendor_name">
                                </mat-form-field>
                            </div>


                            <div>
                                <mat-form-field class="main-one-input-field" appearance="outline">
                                    <mat-label>Vendor ID</mat-label>
                                    <input matInput required class="input-capitalized-textfield" placeholder="Vendor ID"
                                        formControlName="vendor_id" />
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="main-one-input-field" appearance="outline">
                                    <mat-label>Customer ID</mat-label>
                                    <input matInput required class="input-capitalized-textfield" placeholder="Customer ID"
                                        formControlName="customer_id" />
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="main-one-input-field" appearance="outline">
                                    <mat-label>Invoice #</mat-label>
                                    <input matInput required class="input-capitalized-textfield" placeholder="Invoice #"
                                        formControlName="Invoice_has" />
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="main-one-input-field" appearance="outline">
                                    <mat-label>P.O #</mat-label>
                                    <input matInput required class="input-capitalized-textfield" placeholder="P.O #"
                                        formControlName="po_has" />
                                </mat-form-field>
                            </div>
                            
                            
                            
                        </div>
                        <div class="cust-center-save pb-3">
                            <button mat-raised-button class="cust-button-form"><img src="{{backIcon}}" alt=""
                                    class="pr-1" height="15px">{{'All-back' |
                                translate}}</button>
                            <button mat-raised-button color="primary" class="cust-button-form"><img src="{{saveIcon}}"
                                    alt="" class="pr-1" height="15px">{{'All-save' | translate
                                }}</button>
                        </div>
                    </form>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </mat-card>
</div>
