<div class="wrapper-cust-admin">
    <div class="row mb-2">
        <div class="col-10 dialog-head-left">
            <!-- <h2 mat-dialog-title> {{'Add-Category-Form-Header' | translate}}</h2> -->
        </div>
        <!-- <div class="col-8 dialog-head-center">
                
            </div> -->
        <div class="col-2 dialog-head-right">
            <button class="import-export-btn-datatable cust-margin-div" (click)="back()"
                matTooltip="{{ 'All-exit' | translate }}">
                <img src="{{exitIcon}}" alt="" class="far fa-paper-plane" height="20px">
            </button>
        </div>
    </div>
    <mat-card class="example-card">
        <div class="head-text" [ngClass]="mode == 'on'? 'carddark' : 'cardlight'">
            <h3 class="editing"> Invoice Details
            </h3>
        </div>
        <div class="container">
            <form class="form" [formGroup]="invoiceform">
                <div class="main-cust-image">
                    <div>
                        <mat-form-field class="main-one-input-field" appearance="outline">
                            <mat-label>Invoice #</mat-label>
                            <input matInput required class="input-capitalized-textfield" placeholder="Invoice #"
                                formControlName="invoice" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="main-one-input-field" appearance="outline">
                            <mat-label>P.O #</mat-label>
                            <input matInput required class="input-capitalized-textfield" placeholder="P.O #"
                                formControlName="p_o" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="main-one-input-field" appearance="outline">
                            <mat-label>Packing Slip</mat-label>
                            <input matInput class="input-capitalized-textfield" placeholder="Packing Slip"
                                formControlName="packing_slip" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="main-one-input-field" appearance="outline">
                            <mat-label>Receiving Slip</mat-label>
                            <input matInput class="input-capitalized-textArea" placeholder="Receiving Slip"
                                formControlName="receiving_slip" />
                        </mat-form-field>
                    </div>
                    <!-- <div>
                        <mat-form-field class="main-one-input-field" appearance="outline">
                            <mat-label>Receiving Sheet</mat-label>
                            <input matInput class="input-capitalized-textArea" placeholder="Receiving Sheet"
                                formControlName="receiving_sheet" />
                        </mat-form-field>
                    </div> -->
                    <div>
                        <mat-form-field class="main-one-input-field" appearance="outline">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status" class="dark-cust-color" required>
                                <mat-option *ngFor="let status of statusList" [value]="status.value">
                                    {{status.tmp_lanaguage | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="main-one-input-field" appearance="outline">
                            <mat-label>Notes</mat-label>
                            <textarea matInput appTextareaAutoresizeproject class="input-capitalized-textArea"
                                placeholder="Notes" formControlName="notes"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="cust-center-save pb-3">
                    <button mat-raised-button class="cust-button-form"><img src="{{backIcon}}" alt="" (click)="back()"
                            class="pr-1" height="15px">{{'All-back' | translate}}</button>
                    <button mat-raised-button color="primary" class="cust-button-form" (click)="saveInvoice()"><img
                            src="{{saveIcon}}" alt="" class="pr-1" height="15px">{{'All-save' | translate }}</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>