<div class="main-cust-setting-div">
    <div class="decorate-div">
        <b>{{"Project-Settings-note-for-enter-key" | translate}} </b>
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary">
            {{'ALERT_SEND_REMINDER' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <mat-select>
                <mat-option>
                    abc
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary">
            {{'SEND_ALERT_EVERY' | translate}}
            <!-- <input type="text" value="20" class="input custom-small-field">
           
            <input type="text" value="20" class="input custom-small-field"> -->
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <mat-select>
                <mat-option>
                    abc
                </mat-option>
            </mat-select>
        </mat-form-field>
        {{'WHEN_INVOICE_DUE' | translate}}
        <mat-form-field appearance="outline" class="ml-2">
            <mat-select>
                <mat-option>
                    abc
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary">
           {{'WHEN_NEW_INVOICES' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <mat-select>
                <mat-option>
                    abc
                </mat-option>
            </mat-select>
        </mat-form-field>
        {{'BASED_ON_ROLE' | translate}}
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary">
            {{'INVOICE_MODIFIED' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <mat-select>
                <mat-option>
                    abc
                </mat-option>
            </mat-select>
        </mat-form-field>
        {{'BASED_ON_ROLE' | translate}}
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary">
            {{'SEND_ALERT_TO' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <mat-select>
                <mat-option>
                    abc
                </mat-option>
            </mat-select>
        </mat-form-field>
        {{'INVOICE_SENT' | translate}}
    </div>
    <div class="decorate-div">
        <mat-slide-toggle color="primary">
            {{'DAILY_PRODUCTIVITY' | translate}}
        </mat-slide-toggle>
        <mat-form-field appearance="outline" class="ml-2">
            <mat-select>
                <mat-option>
                    abc
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
