<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Drag&Drop position locking</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="example-box" cdkDragLockAxis="y" cdkDrag>
                  I can only be dragged up/down
                </div>
                <div class="example-box" cdkDragLockAxis="x" cdkDrag>
                  I can only be dragged left/right
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Drag&Drop boundary</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="example-boundary">
                  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                    I can only be dragged within the dotted container
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Drag&Drop connected sorting group</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div cdkDropListGroup>
                  <div class="example-container2">
                    <h2>To do</h2>

                    <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                      <div class="example-box-small" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                    </div>
                  </div>

                  <div class="example-container2">
                    <h2>Done</h2>

                    <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                      <div class="example-box-small" *ngFor="let item of done" cdkDrag>{{item}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Drag&Drop connected sorting</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="example-container2">
                  <h2>To do</h2>

                  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box-small" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                  </div>
                </div>

                <div class="example-container2">
                  <h2>Done</h2>

                  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box-small" *ngFor="let item of done" cdkDrag>{{item}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Drag&Drop custom placeholder</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div cdkDropList class="example-list2" (cdkDropListDropped)="drop($event)">
                  <div class="example-box2" *ngFor="let movie of movies" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    {{movie}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Drag&Drop disabled</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                  <div class="example-box-small" *ngFor="let item of items" cdkDrag [cdkDragDisabled]="item.disabled">
                    {{item.value}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Drag&Drop with a handle</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="example-box" cdkDrag>
                  I can only be dragged using the handle

                  <div class="example-handle" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                      <path
                        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                      </path>
                      <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Drag&Drop enter predicate</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="example-container2">
                  <h2>Available numbers</h2>

                  <div id="all" cdkDropList [cdkDropListData]="all" cdkDropListConnectedTo="even" class="example-list"
                    (cdkDropListDropped)="droppredicate($event)" [cdkDropListEnterPredicate]="noReturnPredicate">
                    <div class="example-box-small" *ngFor="let number of all" [cdkDragData]="number" cdkDrag>{{number}}
                    </div>
                  </div>
                </div>

                <div class="example-container2">
                  <h2>Even numbers</h2>

                  <div id="even" cdkDropList [cdkDropListData]="even" cdkDropListConnectedTo="all" class="example-list"
                    (cdkDropListDropped)="droppredicate($event)" [cdkDropListEnterPredicate]="evenPredicate">
                    <div class="example-box-small" *ngFor="let number of even" cdkDrag [cdkDragData]="number">{{number}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
