<div class="wrapper-cust-admin" fxLayout style="height: 95%">
    <div class="invoice-data">
        <div class="d-flex justify-content-between p-3">
            <!-- <img src="{{placeholderIcon}}" alt="" height="20px"> -->
            <div>
                <p class="title">Invoice #</p>
                <p>Data</p>
            </div>
            <div>
                <p class="title">P.O #</p>
                <p>Data</p>
            </div>
            <div>
                <p class="title">Packing Slip</p>
                <p>Data</p>
            </div>
            <div>
                <p class="title">Receiving Slip</p>
                <p>Data</p>
            </div>
            <div>
                <p class="title">Files Attached #</p>
                <p>Data</p>
            </div>
            <div>
                <p class="title">Notes</p>
                <p>Data</p>
            </div>
            <div>
                <p class="title">Status</p>
                <p>Data</p>
            </div>
            <div class="row my-2">
                <button mat-raised-button color="primary" style="margin-right: 6px;" class="sign-button ml-1">
                    Save Changes
                </button>
                <button mat-raised-button color="primary" style="margin-right: 12px;" class="sign-button">
                    Add to batch
                </button>
            </div>
        </div>
        <!-- <div class="ml-1 row">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <p class="title">Invoice #</p>
                    <p class="title">P.O #</p>
                    <p class="title">Packing Slip</p>
                    <p class="title">Receiving Slip</p>
                    <p class="title">Receiving Sheet</p>
                    <p class="title">Files Attached #</p>
                    <p class="title">Notes</p>
                    <p class="title">Status</p>
                </div>
            </div>
            <div class="col">
                <div class="row mx-3">
                    <button mat-raised-button color="primary" style="margin-right: 6px;" class="sign-button ml-1">
                        Save Changes
                    </button>
                    <button mat-raised-button color="primary" style="margin-right: 12px;" class="sign-button">
                        Add to batch
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</div>