<div class="wrapper-cust-admin" fxLayout style="height: 95%">
    <div style="height: 20%; width: 100%; box-shadow: 0 0 8px 8px #f3f2f2; border-radius: 10px;">
        <div class="row ml-1">
            <div class="col-10">
                <div class="row mt-2" style="margin: auto;">
                    <div class="col">
                        <p>Invoice #</p>
                    </div>
                    <div class="col">
                        <p>P.O #</p>
                    </div>
                    <div class="col">
                        <p>Packing Slip</p>
                    </div>
                    <div class="col">
                        <p>Receiving Slip</p>
                    </div>
                    <div class="col">
                        <p>Receiving Sheet</p>
                    </div>
                    <div class="col">
                        <p>Files Attached #</p>
                    </div>
                    <div class="col">
                        <p>Notes</p>
                    </div>
                    <div class="col">
                        <p>Status</p>
                    </div>
                </div>
                <div class="row mt-2" style="margin: auto;">
                    <div class="col">
                        <p>Invoice123</p>
                    </div>
                    <div class="col">
                        <p>P.O #</p>
                    </div>
                    <div class="col">
                        <p>Packing Slip</p>
                    </div>
                    <div class="col">
                        <p>Receiving Slip</p>
                    </div>
                    <div class="col">
                        <p>Receiving Sheet</p>
                    </div>
                    <div class="col">
                        <p>Files Attached #</p>
                    </div>
                    <div class="col">
                        <p>Notes</p>
                    </div>
                    <div class="col">
                        <p>Status</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row mt-3">
                    <button mat-raised-button color="primary" style="margin-right: 6px;" class="sign-button ml-1">
                        Save Changes
                    </button>
                    <button mat-raised-button color="primary" style="margin-right: 12px;" class="sign-button">
                        Add to batch
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
