<div class="wrapper-cust-admin" fxLayout style="height: 95%">
    <div class="d-flex justify-content-between">
        <h1 class="screen-title">
            {{ "Orphan_Documents" | translate | titlecase }}
        </h1>
        <div class="row mr-2 action-button">
            <button mat-raised-button (click)="back()" class="cust-button-form">
                <img src="{{ backIcon }}" alt="" height="20px" />
                {{ "All-back" | translate }}
            </button>
        </div>
    </div>
    <div>
        <div class="table-responsive cust-padding cust-padding-tmp mt-2" *ngIf="showTable">
            <table datatable [dtOptions]="dtOptions" id="dtOptions" class="row-border hover">
            </table>
        </div>
    </div>
</div>
