# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules



/sponsor-backend/node_modules
/sponsor-backend/config/config.js
/sponsor-backend/config/rovuk.json
/sponsor-backend/config/rovuk-hemin.json
/sponsor-backend/package.json
/sponsor-backend/package-lock.json


/sponsor-frontend/node_modules
/sponsor-frontend/dist
/sponsor-frontend/src/environments
/sponsor-frontend/package.json
/sponsor-frontend/package-lock.json



# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.env
/ridaro_auth
