.decorate-div {
    margin: auto;
    padding: 15px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.custom-small-field {
    width: 150px;
    height: 30px;
    border: 1px solid black;
}

.magin-l{
    margin-left: 10px;
}