<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
     <div class="card">
          <div class="header">
               <h2>Employee Information</h2>

          </div>
          <div class="body">
               <form class="useremployeeinfo-form m-4" [formGroup]="useremployeeinfo!">
                    <div class="row">
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'Employee Salary (Hourly Rate)' | translate}}</mat-label>
                                   <input matInput formControlName="userstreet2">
                              </mat-form-field>
                         </div>
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'Start Date' | translate}}</mat-label>
                                   <input matInput formControlName="userstreet2">
                              </mat-form-field>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>Manager</mat-label>
                                   <mat-select formControlName="country" required>
                                        <mat-option [value]="'India'">
                                             India
                                        </mat-option>

                                   </mat-select>


                              </mat-form-field>
                         </div>
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>Supervisor</mat-label>
                                   <mat-select formControlName="country" required>
                                        <mat-option [value]="'India'">
                                             India
                                        </mat-option>

                                   </mat-select>


                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>Location</mat-label>
                                   <mat-select formControlName="country" required>
                                        <mat-option [value]="'India'">
                                             India
                                        </mat-option>

                                   </mat-select>


                              </mat-form-field>
                         </div>
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>Department</mat-label>
                                   <mat-select formControlName="country" required>
                                        <mat-option [value]="'India'">
                                             India
                                        </mat-option>

                                   </mat-select>

                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>Job Title</mat-label>
                                   <mat-select formControlName="country" required>
                                        <mat-option [value]="'India'">
                                             India
                                        </mat-option>

                                   </mat-select>


                              </mat-form-field>
                         </div>
                         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>Job Type</mat-label>
                                   <mat-select formControlName="country" required>
                                        <mat-option [value]="'India'">
                                             India
                                        </mat-option>

                                   </mat-select>


                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>Language Spoken</mat-label>
                                   <mat-select formControlName="country" required>
                                        <mat-option [value]="'India'">
                                             India
                                        </mat-option>

                                   </mat-select>


                              </mat-form-field>
                         </div>

                    </div>

                    <div class="row">
                         <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 ">

                              <button class="btn-space" mat-raised-button color="primary">Back</button>
                              <button class="btn-space" type="button" mat-raised-button color="warn">Next</button>

                              <button class="btn-space" mat-raised-button
                                   color="primary">{{'COMMON.ACTIONS.SAVE'| translate}}</button>
                         </div>
                    </div>

               </form>
          </div>
     </div>
</div>
