<section class="content">
     <div class="content-block">
          <div class="m-4"></div>
          <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="materialTableHeader">
                         <div class="left">
                              <ul class="header-buttons-left ms-0">
                                   <li class="tbl-title">
                                        <h2 style="margin-right: 15px;">Invoice Detail <span>Pending</span></h2>
                                   </li>
                              </ul>
                         </div>
                         <div class="right ">
                              <ul class="tbl-export-btn">
                                   <li class="tbl-header-btn">
                                        <div class="m-l-10" matTooltip="REPORT">
                                             <button mat-mini-fab color="primary">
                                                  <mat-icon class="col-white">insert_drive_file</mat-icon>
                                             </button>
                                        </div>
                                   </li>
                                   <li class="tbl-header-btn">
                                        <div class="m-l-10" matTooltip="HISTORY">
                                             <button mat-mini-fab color="primary">
                                                  <mat-icon class="col-white">history</mat-icon>
                                             </button>
                                        </div>
                                   </li>
                                   <li class="tbl-header-btn">
                                        <div class="m-l-10" matTooltip="BACK">
                                             <button mat-mini-fab color="warn">
                                                  <mat-icon class="col-white">close </mat-icon>
                                             </button>
                                        </div>
                                   </li>
                              </ul>
                         </div>
                    </div>
                    <div class="row clearfix mt-2">
                         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="Fix-hight" style="overflow: scroll; overflow-x: hidden;">
                                   <div class="card">
                                        <div class="header">
                                             <h2>Information</h2>
                                        </div>
                                        <div class="body">
                                             <div class="list-group">
                                                  <form class="register-form m-1" [formGroup]="invoiceForm">
                                                       <div class="row">

                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'document Type' | translate}}</mat-label>
                                                                      <input matInput formControlName="docunemt_type"
                                                                           capitalOnly required>
                                                                 </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'Vendor Name' | translate}}</mat-label>
                                                                      <input matInput formControlName="vendor_name"
                                                                           capitalOnly>
                                                                 </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'Invoice#' | translate}}</mat-label>
                                                                      <input matInput
                                                                           class="input-capitalized-textfield"
                                                                           formControlName="invoice" required>
                                                                 </mat-form-field>
                                                            </div>
                                                       </div>
                                                       <div class="row ">

                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'Invoice Date' | translate}}</mat-label>
                                                                      <input matInput formControlName="invoice_date"
                                                                           capitalOnly required>
                                                                 </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'Due Date' | translate}}</mat-label>
                                                                      <input matInput formControlName="due_date"
                                                                           capitalOnly>
                                                                 </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'Totle Amount' | translate}}</mat-label>
                                                                      <input matInput
                                                                           class="input-capitalized-textfield"
                                                                           formControlName="totle_amount" required>
                                                                 </mat-form-field>
                                                            </div>
                                                       </div>
                                                       <div class="row ">
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'Text Amount' | translate}}</mat-label>
                                                                      <input matInput formControlName="text_amount"
                                                                           capitalOnly required>
                                                                 </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'Assign To' | translate}}</mat-label>
                                                                      <input matInput formControlName="assign_to"
                                                                           capitalOnly>
                                                                 </mat-form-field>
                                                            </div>
                                                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                                                 <mat-form-field class="example-full-width"
                                                                      appearance="outline">
                                                                      <mat-label>{{'Status' | translate}}</mat-label>
                                                                      <input matInput
                                                                           class="input-capitalized-textfield"
                                                                           formControlName="suatus" required>
                                                                 </mat-form-field>
                                                            </div>
                                                       </div>
                                                  </form>
                                                  <div class="d-flex"
                                                       style="padding-left: 15px !important; padding-bottom: 5px !important;">
                                                       <button class="btn-space" mat-raised-button
                                                            color="primary">{{'COMMON.ACTIONS.SAVE'|
                                                  translate}}</button>
                                                       <button class="btn-space but-c" type="button"
                                                            mat-raised-button>{{'Approve'| translate}}</button>
                                                       <button type="button" mat-raised-button
                                                            color="warn">{{'Reject'| translate}}</button>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="card activity">
                                        <div class="header">
                                             <h2>Accounting Activity</h2>
                                        </div>
                                        <div class="body">
                                             <mat-tab-group>
                                                  <mat-tab label="First">
                                                       <div class="body table-responsive">
                                                            <table class="table">
                                                                 <thead>
                                                                      <tr>
                                                                           <th>#</th>
                                                                           <th>FIRST NAME</th>
                                                                           <th>LAST NAME</th>
                                                                           <th>USERNAME</th>
                                                                      </tr>
                                                                 </thead>
                                                                 <tbody>
                                                                      <tr>
                                                                           <th scope="row">1</th>
                                                                           <td>Mark</td>
                                                                           <td>Otto</td>
                                                                           <td>@mdo</td>
                                                                      </tr>
                                                                 </tbody>
                                                            </table>
                                                       </div>
                                                  </mat-tab>
                                                  <mat-tab label="Second">
                                                       <div class="body table-responsive">
                                                            <table class="table">
                                                                 <thead>
                                                                      <tr>
                                                                           <th>#</th>
                                                                           <th>FIRST NAME</th>
                                                                           <th>LAST NAME</th>
                                                                           <th>USERNAME</th>
                                                                      </tr>
                                                                 </thead>
                                                                 <tbody>
                                                                      <tr>
                                                                           <th scope="row">1</th>
                                                                           <td>Mark</td>
                                                                           <td>Otto</td>
                                                                           <td>@mdo</td>
                                                                      </tr>
                                                                 </tbody>
                                                            </table>
                                                       </div>
                                                  </mat-tab>
                                                  <mat-tab label="Third">
                                                       <div class="body table-responsive">
                                                            <table class="table">
                                                                 <thead>
                                                                      <tr>
                                                                           <th>#</th>
                                                                           <th>FIRST NAME</th>
                                                                           <th>LAST NAME</th>
                                                                           <th>USERNAME</th>
                                                                      </tr>
                                                                 </thead>
                                                                 <tbody>
                                                                      <tr>
                                                                           <th scope="row">1</th>
                                                                           <td>Mark</td>
                                                                           <td>Otto</td>
                                                                           <td>@mdo</td>
                                                                      </tr>
                                                                 </tbody>
                                                            </table>
                                                       </div>
                                                  </mat-tab>
                                             </mat-tab-group>

                                        </div>
                                   </div>
                                   <div class="body">
                                        <mat-accordion>
                                             <mat-expansion-panel>
                                                  <mat-expansion-panel-header>
                                                       <mat-panel-title>
                                                            more information
                                                       </mat-panel-title>

                                                  </mat-expansion-panel-header>
                                                  <div class="row">
                                                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                 appearance="fill">
                                                                 <mat-label>First name</mat-label>
                                                                 <input matInput>
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                 appearance="fill">
                                                                 <mat-label>Age</mat-label>
                                                                 <input matInput type="number" min="1">
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                 appearance="fill">
                                                                 <mat-label>First name</mat-label>
                                                                 <input matInput>
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                 appearance="fill">
                                                                 <mat-label>Age</mat-label>
                                                                 <input matInput type="number" min="1">
                                                            </mat-form-field>
                                                       </div>

                                                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                 appearance="fill">
                                                                 <mat-label>First name</mat-label>
                                                                 <input matInput>
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                 appearance="fill">
                                                                 <mat-label>Age</mat-label>
                                                                 <input matInput type="number" min="1">
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                 appearance="fill">
                                                                 <mat-label>First name</mat-label>
                                                                 <input matInput>
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                            <mat-form-field class="example-full-width"
                                                                 appearance="fill">
                                                                 <mat-label>Age</mat-label>
                                                                 <input matInput type="number" min="1">
                                                            </mat-form-field>
                                                       </div>

                                                  </div>
                                             </mat-expansion-panel>
                                             <mat-expansion-panel (opened)="panelOpenState = true"
                                                  (closed)="panelOpenState = false">
                                                  <mat-expansion-panel-header>
                                                       <mat-panel-title>
                                                            Notes
                                                       </mat-panel-title>

                                                  </mat-expansion-panel-header>
                                                  <p>I'm visible because I am
                                                       open</p>
                                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>First name</mat-label>
                                                            <input matInput>
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Age</mat-label>
                                                            <input matInput type="number" min="1">
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>First name</mat-label>
                                                            <input matInput>
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Age</mat-label>
                                                            <input matInput type="number" min="1">
                                                       </mat-form-field>
                                                  </div>
                                             </mat-expansion-panel>
                                             <mat-expansion-panel (opened)="panelOpenState = true"
                                                  (closed)="panelOpenState = false">
                                                  <mat-expansion-panel-header>
                                                       <mat-panel-title>
                                                            Supporting Documents
                                                       </mat-panel-title>

                                                  </mat-expansion-panel-header>
                                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>First name</mat-label>
                                                            <input matInput>
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Age</mat-label>
                                                            <input matInput type="number" min="1">
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>First name</mat-label>
                                                            <input matInput>
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Age</mat-label>
                                                            <input matInput type="number" min="1">
                                                       </mat-form-field>
                                                  </div>
                                                  <p>I'm visible because I am
                                                       open</p>
                                             </mat-expansion-panel>
                                        </mat-accordion>
                                   </div>
                              </div>


                              <div class="card mt-2 position-f">
                                   <div class="header">
                                        <h2>Info</h2>
                                   </div>
                                   <div class="body">
                                        <div class="list-group">
                                             <a href="#" onClick="return false;" class="list-group-item active">
                                                  Cras justo odio
                                             </a>
                                             <a href="#" onClick="return false;" class="list-group-item">Dapibus ac
                                                  facilisis in</a>
                                             <a href="#" onClick="return false;" class="list-group-item">Morbi leo
                                                  risus</a>

                                        </div>
                                   </div>
                              </div>



                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <div class="card" style="height: 770px; width:790px">
                                   <!-- <div class="header">
                                        <h2>Preview</h2>
                                   </div>
                                   <div class="body">
                                        <img src="assets/images/full_bg.jpg" height="690px" width="760px" alt="">
                                   </div> -->
                                   <div class="pdf-viewer">
                                        <pdf-viewer id="pdf" [src]="pdf_url" [rotation]="0" [original-size]="false"
                                             [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                             [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
                                             [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
                                             [external-link-target]="'blank'"></pdf-viewer>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
