<div class="wrapper-cust-admin">
    <div class="container">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab *ngFor="let role of allRoles; let index = index" [label]="role.role_name">
                <div class="row cust-margin-top" *ngIf="role.hasOwnProperty('role_permission')">
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('dashboard')">
                        <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Dashbord' | translate}}</div>
                        <mat-checkbox class="example-margin" [(ngModel)]="role.role_permission.dashboard.View"
                            color="primary">{{'Dashboard-View' | translate}}</mat-checkbox>
                        <br />
                        <mat-checkbox class="example-margin" [(ngModel)]="role.role_permission.permission_action.View"
                            color="primary">{{'Permission_Action' | translate}} <i style="color: gainsboro;"
                                matTooltip="{{'permisson_tooltip' | translate}}"
                                class="fas fa-info-circle cust-fontsize-tmp"></i></mat-checkbox>
                    </div>
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('todayActivity')">
                        <div class="cust-header-text">{{'Sidebar-TodaysActivity' | translate}}</div>
                        <mat-checkbox class="example-margin" [(ngModel)]="role.role_permission.todayActivity.View"
                            color="primary">{{'Dashboard-View' | translate}}</mat-checkbox>
                    </div>




                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('invoices')">
                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Invoice' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'invoices')"
                                        [(ngModel)]="role.role_permission.invoices.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'invoices')"
                                        [(ngModel)]="role.role_permission.invoices.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'invoices')"
                                        [(ngModel)]="role.role_permission.invoices.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'invoices')"
                                        [(ngModel)]="role.role_permission.invoices.Delete" color="primary">
                                        {{'Listing_Action_Delete' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>


                    </div>





                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('reports')">

                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Report' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'reports')"
                                        [(ngModel)]="role.role_permission.reports.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'reports')"
                                        [(ngModel)]="role.role_permission.reports.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'reports')"
                                        [(ngModel)]="role.role_permission.reports.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'reports')"
                                        [(ngModel)]="role.role_permission.reports.Delete" color="primary">
                                        {{'Listing_Action_Delete' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('templates')">

                        <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Templates' | translate}}</div>
                        <div class="cust-div-inner">
                            <div>
                                <mat-checkbox class="example-margin"
                                    (change)="oneAllSettingChange($event,index,'templates')"
                                    [(ngModel)]="role.role_permission.templates.Add" color="primary">

                                    {{'Add_roles' | translate}}</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin"
                                    (change)="oneAllSettingChange($event,index,'templates')"
                                    [(ngModel)]="role.role_permission.templates.View" color="primary">
                                    {{'Dashboard-View' | translate}}
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin"
                                    (change)="oneAllSettingChange($event,index,'templates')"
                                    [(ngModel)]="role.role_permission.templates.Edit" color="primary">
                                    {{'Listing_Action_Edit' | translate }}
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin"
                                    (change)="oneAllSettingChange($event,index,'templates')"
                                    [(ngModel)]="role.role_permission.templates.Delete" color="primary">
                                </mat-checkbox>
                                {{'Listing_Action_Delete' | translate }}

                            </div>
                        </div>
                    </div>
                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('users')">
                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Users' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.Add" color="primary">
                                        {{'Rovuk_Grid_Roles_All' | translate}}</mat-checkbox>
                                </div>

                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'users')"
                                        [(ngModel)]="role.role_permission.users.Delete" color="primary">
                                        {{'Listing_Action_Delete' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <div class="col" *ngIf="role.role_permission.hasOwnProperty('survyes')">
                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Grid_Roles_Surveyes' | translate}}</div>
                            <div class="cust-div-inner">

                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'survyes')"
                                        [(ngModel)]="role.role_permission.survyes.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'survyes')"
                                        [(ngModel)]="role.role_permission.survyes.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'survyes')"
                                        [(ngModel)]="role.role_permission.survyes.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'survyes')"
                                        [(ngModel)]="role.role_permission.survyes.Delete" color="primary">
                                        {{'Listing_Action_Delete' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('files')">
                        <div class="cust-header-text">{{'Rovuk_Grid_Roles_Files' | translate}}</div>

                        <div class="cust-div-inner">
                            <div>
                                <mat-checkbox class="example-margin"
                                    (change)="oneAllSettingChange($event,index,'files')"
                                    [(ngModel)]="role.role_permission.files.Add" color="primary">{{'Add_roles'
                                                        | translate}}
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin"
                                    (change)="oneAllSettingChange($event,index,'files')"
                                    [(ngModel)]="role.role_permission.files.View" color="primary">
                                    {{'Dashboard-View' | translate}}
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin"
                                    (change)="oneAllSettingChange($event,index,'files')"
                                    [(ngModel)]="role.role_permission.files.Edit" color="primary">
                                    {{'Listing_Action_Edit' | translate }}
                                </mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin"
                                    (change)="oneAllSettingChange($event,index,'files')"
                                    [(ngModel)]="role.role_permission.files.Delete" color="primary">
                                    {{'Listing_Action_Delete' | translate }}
                                </mat-checkbox>
                            </div>

                        </div>
                    </div>

 -->


                    <div class="col" *ngIf="role.role_permission.hasOwnProperty('settings')">
                        <div class="cust-div-inner">
                            <div class="cust-header-text">{{'Rovuk_Invoice_Roles_Setting' | translate}}</div>
                            <div class="cust-div-inner">
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'settings')"
                                        [(ngModel)]="role.role_permission.settings.All" color="primary">
                                        {{'Rovuk_Grid_Roles_All' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'settings')"
                                        [(ngModel)]="role.role_permission.settings.Add" color="primary">
                                        {{'Add_roles' | translate}}</mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'settings')"
                                        [(ngModel)]="role.role_permission.settings.View" color="primary">
                                        {{'Dashboard-View' | translate}}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'settings')"
                                        [(ngModel)]="role.role_permission.settings.Edit" color="primary">
                                        {{'Listing_Action_Edit' | translate }}
                                    </mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"
                                        (change)="oneAllSettingChange($event,index,'settings')"
                                        [(ngModel)]="role.role_permission.settings.Delete" color="primary">
                                        {{'Listing_Action_Delete' | translate }}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                <div class="cust-center-justify">
                    <button mat-raised-button (click)="saveData(role)" color="primary">
                        <img src="{{saveIcon}}" alt="" height="20px">
                        {{'All-save' |
                        translate}}</button>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>