<div class="container-fluid">
    <div class="main-row-cust-div">
        <div class="one-div-cust-user">
            <b class="ml-1">Needs my attention</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">Invoices pending </div>
                <div class="number">
                    <div class="mt-2">{{countlist.pending}}</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user">
            <b class="ml-1">Invoices generated</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">New Invoices generated </div>
                <div class="number-new">
                    <div class="mt-2">{{countlist.generated}}</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user">
            <b class="ml-1">Approved invoices</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">Approved Invoices</div>
                <div class="number-app">
                    <div class="mt-2">{{countlist.approved}}</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user">
            <b class="ml-1">Rejected invoices</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">Rejected Invoices</div>
                <div class="number-rej">
                    <div class="mt-2">{{countlist.rejected}}</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user">
            <b class="ml-1">Late invoices</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">Take actions</div>
                <div class="number-tk">
                    <div class="mt-2">{{countlist.late}}</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
    </div>

    <div class="main-row-cust-div">
        <div class="one-div-cust-user mr-3">
            <b class="ml-1">Received</b>
            <div class="header-text-cust detail-list-card mt-2">
                <div class="one-div-cust-user-card" *ngFor="let data of cardcountlist.pending">
                    <div class="statastic-card mt-2 "
                        [ngClass]="mode == 'on'? 'header-text-cust-card-dark' : 'header-text-cust-card '">
                        <div class="statastic-small-card-title">
                            <div>Invoice#: 561235</div>
                            <div class="ml-2">Invoice date: 12/05</div>
                            <div class="ml-2">Last update: 11/05</div>
                        </div>

                        <div class="number-card-small">
                            Total: $1,000.00
                        </div>
                    </div>
                    <!-- <div class="number-cust">  </div> -->
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user mr-3">
            <b class="ml-1">Processed</b>
            <div class="header-text-cust detail-list-card mt-2">
                <div class="one-div-cust-user-card" *ngFor="let data of cardcountlist.process">
                    <div class="statastic-card mt-2"
                        [ngClass]="mode == 'on'? 'header-text-cust-card-dark' : 'header-text-cust-card '">
                        <div class="statastic-small-card-title">
                            <div>Invoice#: 561235</div>
                            <div class="ml-2">Invoice date: 12/05</div>
                            <div class="ml-2">Last update: 11/05</div>
                        </div>

                        <div class="number-card-process">
                            Total: $1,000.00
                        </div>
                    </div>
                    <!-- <div class="number-cust">  </div> -->
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user">
            <b class="ml-1">Cancelled</b>
            <div class="header-text-cust detail-list-card mt-2">
                <div class="one-div-cust-user-card" *ngFor="let data of cardcountlist.cancelled">
                    <div class="statastic-card mt-2"
                        [ngClass]="mode == 'on'? 'header-text-cust-card-dark' : 'header-text-cust-card '">
                        <div class="statastic-small-card-title">
                            <div>Invoice#: 561235</div>
                            <div class="ml-2">Invoice date: 12/05</div>
                            <div class="ml-2">Last update: 11/05</div>
                        </div>

                        <div class="number-card-cancle">
                            Total: $1,000.00
                        </div>
                    </div>
                    <!-- <div class="number-cust">  </div> -->
                </div>

            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
    </div>
    <div class="container" style="max-width: 100%;">
        <div class="row">
            <div class="col-sm-8 ">
                <div class="main-row-cust-div">
                    <div class="one-div-cust-user">
                        <b class="ml-1">Reports</b>
                        <div class=" mt-2">
                            <div class="card-body">
                                <div style="display: block;">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                        [options]="barChartOptions" [plugins]="barChartPlugins"
                                        [legend]="barChartLegend" [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="main-row-cust-div">
                    <div class="one-div-cust-user">
                        <b class="ml-1">Last Activity History</b>
                        <div class=" mt-2"
                            [ngClass]="mode == 'on'? 'header-text-cust-chart-dark' : 'header-text-cust-chart'">
                            <p style="font-size: 10px;  word-wrap: break-word; text-align: left; color: #06479D;">
                                Today
                            </p>
                            <div class="" [ngClass]="mode == 'on'? 'card-history-dark' : 'card-history'">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <img class="crl card-img-left example-card-img-responsive"
                                                src="./assets/logo/RovukInvoice.png" />
                                        </div>
                                        <div class="col-10">
                                            <p style="font-size: 12px;">Roque Rivera @ 8:15 am</p>
                                            <p style="font-size: 10px;  word-wrap: break-word;">Roque Rivera open the
                                                invoice</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <p
                                style="font-size: 10px;  word-wrap: break-word; margin-top: 8px; text-align: left; color: #06479D;">
                                Monday 6/27/2022
                            </p>
                            <div class="" [ngClass]="mode == 'on'? 'card-history-dark' : 'card-history'">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <img class="crl card-img-left example-card-img-responsive"
                                                src="./assets/logo/RovukInvoice.png" />
                                        </div>
                                        <div class="col-10">
                                            <p style="font-size: 12px;">Roque Rivera @ 8:15 am</p>
                                            <p style="font-size: 10px;  word-wrap: break-word;">The definition of a
                                                description is a statement that gives details about someone or
                                                something. An example
                                                of description is a story about the places visited on a family trip.
                                                Sort, kind, or variety. Books of every
                                                description.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight bg-primary">Flex item</div>
        <div class="p-2 w-50 flex-shrink-1 bd-highlight bg-danger">Flex item</div>
    </div> -->


</div>