<div class="container-fluid">

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-10">
                            <div class="numbers mt-2">
                                <p class="text-sm text-capitalize font-weight-bold">Today's Money</p>
                            </div>
                        </div>
                        <div class="col-1 text-end">
                            <div class="mrg">1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
