<div class="container-fluid">
    <div class="main-row-cust-div">
        <div class="one-div-cust-user">
            <b class="ml-1">Needs my attention</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">Invoices pending </div>
                <div class="number">
                    <div class="mt-2">123</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user ">
            <b class="ml-1">Invoices generated</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">New Invoices generated </div>
                <div class="number-new">
                    <div class="mt-2">123</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user">
            <b class="ml-1">Approved invoices</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">Approved Invoices</div>
                <div class="number-app">
                    <div class="mt-2">123</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user">
            <b class="ml-1">Rejected invoices</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">Rejected Invoices</div>
                <div class="number-rej">
                    <div class="mt-2">123</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
        <div class="one-div-cust-user">
            <b class="ml-1">Late invoices</b>
            <div class="header-text-cust statastic-card mt-2">
                <div class="statastic-card-title">Take actions</div>
                <div class="number-tk">
                    <div class="mt-2">123</div>
                </div>
            </div>
            <!-- <div class="number-cust">  </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="height: 250px;">
                <div class="card-body">
                  
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="height: 250px;">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="height: 250px;">
                <div class="card-body">
                   
                </div>
            </div>
        </div>

    </div>

</div>
