.report {
    .title {
        background-color: #D9E8FF;
        border-radius: 4px;
    }

    .description {
        background-color: #D9E8FF;
        border-radius: 4px;
    }

    .button {
        width: 100%;
    }
}