<div class="main-search-bar">
  <div class="row">
    <div class="one-div-cust-user">
      <div class="header-text-cust statastic-card mt-1">
        <div class="statastic-card-title">{{ status }} Invoices</div>
        <div class="number-new" [ngClass]="
            status == 'Pending'
              ? 'pending-background'
              : status == 'Approved'
              ? 'approve-background'
              : status == 'Rejected'
              ? 'reject-background'
              : status == 'Late'
              ? 'late-background'
              : ''
          ">
          <div class="mt-2">{{ count }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-inline-cust">
    <div class="col-md-12">
      <div class="screen-title-section cust-h1-inline">
        <div class="inner-search-bar"></div>
        <button class="import-export-btn-datatable button_workersEditClass cust-margin-div"
          matTooltip="{{ 'TOOLTIP_REPORT' | translate }}" aria-label="Left Align">
          <img src="{{ reportIcon }}" alt="" height="20px" />
        </button>
        <button mat-raised-button (click)="back()" class="cust-button-form">
          <img src="{{ backIcon }}" alt="" height="20px" />
          {{ "All-back" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-cust-admin cust-width">
  <div class="table-responsive cust-padding cust-padding-tmp mt-5" *ngIf="showTable">
    <table datatable [dtOptions]="dtOptions" id="dtOptions_vendor" class="row-border hover"></table>
  </div>
</div>
<ngx-gallery [options]="galleryOptions" [images]="galleryImages" #gallery></ngx-gallery>
