<section class="content">
  <div class="content-block">
    <div class="m-4"></div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Usage</h2>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.BACK' |
                  translate}}">
                    <button mat-mini-fab color="warn" (click)="back()">
                      <mat-icon class="col-white">close </mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="body overflow-auto">
            <form [formGroup]="usageinfo">

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>{{'SETTINGS.SETTINGS_OTHER_OPTION.USAGE_MODULE.NUMBER' | translate}}</mat-label>
                    <input matInput formControlName="totalSuervisor" readonly class="input-capitalized-textfield">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>{{'SETTINGS.SETTINGS_OTHER_OPTION.USAGE_MODULE.STORAGE' | translate}}</mat-label>
                    <input matInput formControlName="bucket_size" readonly class="input-capitalized-textfield">
                  </mat-form-field>
                </div>
              </div>


              <!-- new code -->

              <div class="table-responsive">
                <table mat-table #table [dataSource]="dataSource" matSort class="table mat-cell" multiTemplateDataRows>
                  <ng-container matColumnDef="_id">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'max-h'" mat-sort-header>Date</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <span class="mobile-label">Email:</span> {{row._id}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                      <div class="example-element-detail"
                        [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                        <span class="expanded-contents">
                          data
                        </span>

                      </div>
                    </td>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                    [class.example-expanded-row]="row.isExpanded" (click)="row.isExpanded = !row.isExpanded">
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                  </mat-row>
                </table>
              </div>
              <!-- Loading spinner -->
              <div *ngIf="usageService?.isTblLoading" class="tbl-spinner">
                <app-loading></app-loading>
              </div>
              <div *ngIf="!usageService?.isTblLoading" class="no-results"
                [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                No matching records found
              </div>
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>

              <!------- new code over -------->


              <!-- old code -->

              <!-- <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
                  <ng-container matColumnDef="_id">
                    <mat-header-cell class="psl-1" *matHeaderCellDef mat-sort-header>Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="psl-1">{{row._id}}</mat-cell>
                </ng-container> -->

              <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                  </ng-container> -->

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <!-- <ng-container matColumnDef="expandedDetail">
                    <td colspan="4" mat-cell *matCellDef="let element">
                      <div style="overflow: hidden"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                        <table class="mat-table  ">
                          <thead>
                            <tr class="mat-header-row">
                              <th class="mat-header-cell">
                                Name
                              </th>
                              <th class="mat-header-cell">
                                Facility Number
                              </th>
                              <th class="mat-header-cell">
                                Amount
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="mat-row" *ngFor="let data of tmp_arr">
                              <td class="mat-cell">
                                {{data.name}}
                              </td>
                              <td class="mat-cell">
                                TC140414
                              </td>
                              <td class="mat-cell">
                                $524.65
                              </td>
                            </tr>


                          </tbody>
                        </table>
                      </div>
                    </td>
                  </ng-container> -->

              <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="demo-element-row"
                    [class.demo-expanded]="expandedElement == row"
                    (click)="expandedElement = expandedElement === row ? undefined : row"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="demo-detail-row"></tr> -->
              <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'"
                      matRipple>
                  </mat-row>
                </table> -->



              <!-- <mat-paginator pageSize="20" [pageSizeOptions]="[5, 20]"></mat-paginator> -->

              <!-- old code over -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
