<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
     <div class="card">
          <div class="header">
               <h2>Reactive Forms (Outline)</h2>

          </div>
          <div class="body">
               <form class="register-form m-4" [formGroup]="usercontactinfo!" (ngSubmit)="onRegister()">

                    <div class="row">
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'USERS.ADD_EDIT.USER_PHONE' | translate}}</mat-label>
                                   <input matInput formControlName="userphone">


                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'USERS.ADD_EDIT.S_EMAIL' | translate}}</mat-label>
                                   <input matInput formControlName="usersecondary_email">
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'USERS.ADD_EDIT.STREET1' | translate}}</mat-label>
                                   <input matInput formControlName="userstreet1">
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'USERS.ADD_EDIT.STREET2' | translate}}</mat-label>
                                   <input matInput formControlName="userstreet2">
                              </mat-form-field>
                         </div>
                    </div>


                    <div class="row">
                         <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'USERS.ADD_EDIT.USER_CITY' | translate}}</mat-label>
                                   <input matInput formControlName="usercity">
                              </mat-form-field>
                         </div>
                         <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'USERS.ADD_EDIT.USER_STATE' | translate}}</mat-label>
                                   <input matInput formControlName="user_state">
                              </mat-form-field>
                         </div>
                         <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'USERS.ADD_EDIT.USER_ZIPCODE' | translate}}</mat-label>
                                   <input matInput formControlName="userzipcode">
                              </mat-form-field>
                         </div>
                         <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                              <mat-form-field class="example-full-width" appearance="outline">
                                   <mat-label>{{'USERS.ADD_EDIT.USER_COUNTRY' | translate}}</mat-label>
                                   <input matInput formControlName="usercountry">
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                              <button class="btn-space" [disabled]="!usercontactinfo?.valid" mat-raised-button
                                   color="primary">Submit</button>
                              <button type="button" mat-raised-button color="warn">Cancel</button>
                         </div>
                    </div>
               </form>
          </div>
     </div>
</div>
