<section class="content">
    <div class="content-block">
        <div class="m-4"></div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2>{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE' |  translate}}</h2>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.IMPORT_TEMPLATE' |
                                    translate}}">
                                        <button mat-mini-fab color="primary" (click)="downloadImport()">
                                            <mat-icon class="col-white">file_download</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.IMPORT' |
                                    translate}}">
                                    <input id="file-upload" class="mr-2" type="file" style="display: none"
                                    (change)="onFileChange($event)" #OpenFilebox />
                                        <button mat-mini-fab color="primary" (click)="importFileAction()">
                                            <mat-icon class="col-white">file_upload</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.ADD' |
                                    translate}}">
                                        <button mat-mini-fab color="primary" (click)="add()">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.CLOSE' |
                                    translate}}">
                                        <button mat-mini-fab color="warn" (click)="back()">
                                            <mat-icon class="col-white">close </mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="body">
                        <div class="main-cust-setting-div">
                            <mat-tab-group (selectedTabChange)="onTabChanged($event)">
                                <mat-tab
                                    label="{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.DOCUMENT_TYPE' |  translate}}">
                                    <br>
                                    <div class="row">
                                        <app-document-type-list></app-document-type-list>
                                        <!-- <div class="test col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                                            *ngFor="let Document of AllDocument">
                                            <div class="card " style="height: 112px;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-10 mt-0">
                                                            <div class="card-title">{{Document.document_type_name}}</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="col-green">
                                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <button mat-menu-item (click)="edit(Document)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">create</i>
                                                                        <span>{{'COMMON.ACTIONS.EDIT' |
                                                                            translate}}</span>
                                                                    </button>
                                                                    <button mat-menu-item (click)="deleteDocumentType(Document)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">delete</i>
                                                                        <span>{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.DELETE' |  translate}}</span>
                                                                    </button>
                                                                </mat-menu>

                                                            </div>

                                                        </div>
                                                        <mat-slide-toggle [(ngModel)]="Document.is_expiration"
                                                            [disabled]="true" color="primary"><span class="text-muted">{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.EXPIRATION_DATE' |  translate}}</span></mat-slide-toggle>
                                                    </div>

                                                </div>
                                            </div>

                                        </div> -->
                                    </div>

                                </mat-tab>
                                <mat-tab
                                    label="{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.DEPARTMENT' |  translate}}">
                                    <br>
                                    <div class="row">
                                        <app-department-list></app-department-list>
                                        <!-- <div class="test col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                                            *ngFor="let Department of AllDepartment">
                                            <div class="card " style="height: 112px;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-10 mt-0">
                                                            <div class="card-title">{{Department.department_name}}</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="col-green">
                                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <button mat-menu-item (click)="editDepartment(Department)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">create</i>
                                                                        <span>{{'COMMON.ACTIONS.EDIT' |
                                                                            translate}}</span>
                                                                    </button>
                                                                    <button mat-menu-item (click)="deleteDepartment(Department)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">delete</i>
                                                                        <span>{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.DELETE' |  translate}}</span>
                                                                    </button>
                                                                </mat-menu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </mat-tab>
                                <mat-tab
                                    label="{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.JOBTITLE' |  translate}}">
                                    <br>
                                    <div class="row">
                                        <app-job-title-list></app-job-title-list>
                                        <!-- <div class="test col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                                            *ngFor="let JobTitle of AllJobTitle">
                                            <div class="card " style="height: 112px;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-10 mt-0">
                                                            <div class="card-title">{{JobTitle.job_title_name}}</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="col-green">
                                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <button mat-menu-item (click)="editJobtitle(JobTitle)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">create</i>
                                                                        <span>{{'COMMON.ACTIONS.EDIT' |
                                                                            translate}}</span>
                                                                    </button>
                                                                    <button mat-menu-item (click)="deleteJobTitle(JobTitle)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">delete</i>
                                                                        <span>{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.DELETE' |  translate}}</span>
                                                                    </button>
                                                                </mat-menu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>

                                </mat-tab>
                                <mat-tab
                                    label="{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.JOBTYPE' |  translate}}">
                                    <br>
                                    <div class="row">
                                        <app-job-type-list></app-job-type-list>
                                        <!-- <div class="test col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                                            *ngFor="let JobType of AllJobType">
                                            <div class="card " style="height: 112px;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-10 mt-0">
                                                            <div class="card-title">{{JobType.job_type_name}}</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="col-green">
                                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <button mat-menu-item (click)="editJobtype(JobType)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">create</i>
                                                                        <span>{{'COMMON.ACTIONS.EDIT' |
                                                                            translate}}</span>
                                                                    </button>
                                                                    <button mat-menu-item (click)="deleteJobType(JobType)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">delete</i>
                                                                        <span>{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.DELETE' |  translate}}</span>
                                                                    </button>
                                                                </mat-menu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>

                                </mat-tab>
                                <mat-tab
                                    label="{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.RELATIONSHIP' |  translate}}">
                                    <br>
                                    <div class="row">
                                        <app-relationship-list></app-relationship-list>
                                        <!-- <div class="test col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                                            *ngFor="let Relationship of AllRelationship">
                                            <div class="card " style="height: 112px;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-10 mt-0">
                                                            <div class="card-title">{{Relationship.relationship_name}}</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="col-green">
                                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <button mat-menu-item (click)="editRelationship(Relationship)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">create</i>
                                                                        <span>{{'COMMON.ACTIONS.EDIT' |
                                                                            translate}}</span>
                                                                    </button>
                                                                    <button mat-menu-item (click)="deleteRelationship(Relationship)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">delete</i>
                                                                        <span>{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.DELETE' |  translate}}</span>
                                                                    </button>
                                                                </mat-menu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>

                                </mat-tab>
                                <mat-tab
                                    label="{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.LANGUAGE' |  translate}}">
                                    <br>
                                    <div class="row">
                                        <app-language-list></app-language-list>
                                        <!-- <div class="test col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12"
                                            *ngFor="let Language of AllLanguage">
                                            <div class="card " style="height: 112px;">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-10 mt-0">
                                                            <div class="card-title">{{Language.name}}</div>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="col-green">
                                                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <i class="fas fa-ellipsis-v"></i>
                                                                </button>
                                                                <mat-menu #menu="matMenu">
                                                                    <button mat-menu-item (click)="editLanguage(Language)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">create</i>
                                                                        <span>{{'COMMON.ACTIONS.EDIT' |
                                                                            translate}}</span>
                                                                    </button>
                                                                    <button mat-menu-item (click)="deleteLanguage(Language)">
                                                                        <i
                                                                            class="material-icons-two-tone align-middle msr-2">delete</i>
                                                                        <span>{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE_MODULE.DELETE' |  translate}}</span>
                                                                    </button>
                                                                </mat-menu>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>

                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
