.mat-tab-label-content {
    .my-tab-color {
        &.my-tab-color-green {
            background-color: #ff0000;
            color: white;
        }
    }
}
::ng-deep .mat-tab-list {
    background-color: #023E8A !important;
    height: 35px;
}

::ng-deep .mat-tab-label {
    opacity: unset !important;
}

.height-set{
    height: 87px;
}
