<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <!-- Bar chart with line -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Bar chart with line</h2>

          </div>
          <div class="body">
            <div echarts [options]="line_bar_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
      <!-- line chart -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Line Chart</h2>

          </div>
          <div class="body">
            <div echarts [options]="line_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Bar chart -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Bar chart</h2>

          </div>
          <div class="body">
            <div echarts [options]="bar_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
      <!-- Graph Line Chart -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Graph Line Chart</h2>

          </div>
          <div class="body">
            <div echarts [options]="graph_line_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Pie Chart -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Pie Chart</h2>

          </div>
          <div class="body">
            <div echarts [options]="pie_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
      <!-- Line Graph Chart -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Aria Line Chart</h2>

          </div>
          <div class="body">
            <div echarts [options]="area_line_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <!-- Pie Chart -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Pie Chart</h2>
          </div>
          <div class="body">
            <div echarts [options]="pie_chart2" class="echart-height"></div>
          </div>
        </div>
      </div>
      <!-- Sunburst Chart -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Sunburst Chart</h2>
          </div>
          <div class="body">
            <div echarts [options]="sunburst_chart" class="echart-height"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
