<div class="wrapper-cust-admin">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <form [formGroup]="usageinfo">
                    <div class="container">

                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'USAGE_NUMBER_INVOICE' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'USAGE_NUMBER_INVOICE' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Settings-Usage-Storage-Size' | translate}}</mat-label>
                                    <input matInput formControlName="wasabi_storage_size"
                                        class="input-capitalized-textfield" placeholder="Storage size" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- INVOICE# -->
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Invoice_Expense' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Invoice_Expense' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Invoice_Froms' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Invoice_Froms' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- P.O -->
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Purchase_order_Expense' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Purchase_order_Expense' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Purchase_order_Froms' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Purchase_order_Froms' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Packing Slip -->
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Packing_Slip_Expense' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Packing_Slip_Expense' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Packing_Slip_Froms' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Packing_Slip_Froms' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Receiving Slip -->
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Receiving_slip_Expense' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Receiving_slip_Expense' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Receiving_slip_Froms' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Receiving_slip_Froms' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Quote -->
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Quote_Expense' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield"
                                        placeholder="{{'Quote_Expense' | translate}}" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" class="main-one-input-field">
                                    <mat-label>{{'Quote_Froms' | translate}}</mat-label>
                                    <input matInput formControlName="amount_of_supervisor"
                                        class="input-capitalized-textfield" placeholder="{{'Quote_Froms' | translate}}"
                                        readonly>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
