<div *ngIf="showWeather" class="sidebar">
    <div *ngIf="weatherReport.length" class="main-wather-div"
        style="background-image :url({{bg_image}}),linear-gradient(to right,#023e8a , #6288ba);background-size: cover; ">
        <div class="main-day" *ngIf="weatherReport">
            <div class="oneday-wether" *ngFor="let oneday of weatherReport; let i = index" (click)="openOneDay(i)" >
                <img src="{{oneday.url}}" alt="" >
                <div>{{oneday.day}}</div>
                <div>{{oneday.temp}}</div>
            </div>
        </div>

        <div class="color-white in-cust-center" (click)="openOneDay(0)">
            <div style="margin-right: 12px;">
                <div style="margin-top: -13px;">{{'Low_all' | translate}}: {{this.currantData.temp.min}}</div>
                <div style="margin-top: 25px;"> {{'High_all' | translate}}: {{this.currantData.temp.max}}</div>
            </div>
            <div>
                <div>{{cityline}}</div>
                <div>{{todaydate}}</div>
            </div>
        </div>

    </div>
</div>