@import 'src/app/styles/variables';

.invoice-data {
    width: 100%;
    // box-shadow: 0 0 8px 8px #f3f2f2;
    border-radius: 10px;
    background-color: white;

    .title {
        font-weight: 700;
    }
}

.invoice-card {
    color: white;
    background-color: #023E8A;
    height: 40px;
    margin-right: unset;
    margin-left: unset;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

}

.invoice-viwe {
    height: 90%;
    // margin-right: unset;
    // margin-left: unset;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

}

.pdf-viewer {
    height: 630px;
    overflow-y: scroll;
}

.pdf-header {
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    text-align: right
}

.History-text {
    text-align: center;
    padding: 8px;

}



.notes {
    color: white;
    background-color: #023E8A;
    height: 40px;
    // margin-right: unset;
    // margin-left: unset;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.history-viwe {
    height: 95%;
    // margin-right: unset;
    // margin-left: unset;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.mat-expansion-panel {
    border-radius: 5px;
}

::ng-deep .mat-expansion-panel-header {
    // background-color: red !important;
    height: 40px !important;
    background-color: #023E8A !important;
    color: white;

}

::ng-deep .mat-expansion-indicator::after {
    color: white;
    height: 11px;
    width: 11px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
}

// history
.header-text-cust-chart {
    background-color: #fff;
    // text-align: center !important;
    max-height: 450px;
    border-radius: 6px;
    // border-top-right-radius: 4px;
    padding: 1em 1em;
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

.header-text-cust-chart-dark {

    background-color: #30343d;
    color: white !important;
    // text-align: center !important;
    max-height: 450px;
    border-radius: 6px;
    // border-top-right-radius: 4px;
    padding: 1em 1em;
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

.card-history {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-right: 10px;
    margin-top: 5px;
    background-color: white;
    // height: 60px;
    //width: 240px;
    // height: 80px;
}

.card-history-dark {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #424242;
    // height: 60px;
    //width: 240px;
    // height: 80px;
}

/* On mouse-over, add a deeper shadow */
.card-history:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-history-dark:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 0.75rem .75rem;

}

.container {
    padding: 2px 16px;

}

.crl {
    border-radius: 100%;
    background-color: red;
    height: 30px;

}

.text-center {
    height: 630px;
    margin-top: 35%;
    margin-bottom: -35%;
}

// Add dilog
.container-cust {
    width: 50%;
    // height: 100px;
    padding: 1rem;
    // background-color: $blue;
    text-align: center;
    border: dotted 2px black;

    position: relative;
    margin: 0 auto;
    border-radius: 5px;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    label {
        color: $blue;
        // width: 100px;
        height: 25px;
        border-radius: 21.5px;
        //background-color: $blue;
        text-align: center;
        padding: 3px !important;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        color: #38424c;
        margin-bottom: 0px;
    }
}

.particiepants-box {
    height: 45px;
    background-color: rgb(255, 254, 254);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)
}