.lecture-list {
    background-color: unset;
    border: 1px solid grey;
    cursor: pointer;
}

.active-company {
    background-color: #f6f4ff;
}

.container-auth-form-btn button {
    width: 50%;
}