.status {
     font-size: 25px;
     line-height: 5px;
     font-weight: 400;
     padding: 17px;
     color: #fff;
     text-align: center;
     z-index: 0;
     position: relative;
     background: #023eba58;

     &.inactive {
          background: red;
     }

     &.active {
          background: green;
     }

}



body {
     background: #141f31;
}

h1 {
     font-size: 32px;
     margin-top: 30px;
     margin-bottom: 40px;
     text-align: center;
     font-weight: bold;
     color: #ffffff;
}

.container {
     padding-top: 60px;
}