.status {
     font-size: 25px;
     line-height: 5px;
     font-weight: 400;
     padding: 17px;
     color: #fff;
     text-align: center;
     z-index: 0;
     position: relative;
     background: #023eba58;

     &.inactive {
          background: red;
     }

     &.active {
          background: green;
     }

}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
     .test {
          width: 25%;
     }
}

.card {
     box-shadow: unset !important;
}

.rixit:hover {
     background-color: #2541c0;
     color: #fff;

     .font-white {
          color: #fff
     }
}


body {
     background: #141f31;
}

h1 {
     font-size: 32px;
     margin-top: 30px;
     margin-bottom: 40px;
     text-align: center;
     font-weight: bold;
     color: #ffffff;
}

.container {
     padding-top: 60px;
}

.Action {
     position: absolute;
     top: 225px;
     height: 35px;
     border-radius: 10px;
     margin: auto;
     text-align: center;
     border-radius: 0px 0px 10px 10px
}

.inactive {
     background: red;
}

.active {
     background: green;
}