.status {
     font-size: 25px;
     line-height: 5px;
     font-weight: 400;
     padding: 17px;
     color: #fff;
     text-align: center;
     z-index: 0;
     position: relative;
     background: #023eba58;



     &.inactive {
          background: red;
     }

     &.active {
          background: green;
     }

}



body {
     background: #141f31;
}

h1 {
     font-size: 32px;
     margin-top: 30px;
     margin-bottom: 40px;
     text-align: center;
     font-weight: bold;
     color: #ffffff;
}

.container {
     padding-top: 60px;
}

.dealwrapper {
     max-width: 320px;
     background: #ffffff;
     border-radius: 8px;
     -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
     box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
     position: relative;
}

.list-group {
     position: relative;
     display: block;
     background-color: #fff;
     border-radius: 5px;
}

.list-group h4 {
     font-size: 18px;
     margin-top: 6px;
     margin-bottom: 10px;
}

.list-group p {
     font-size: 13px;
     line-height: 1.4;
     margin-bottom: 10px;
     font-style: italic;
}

.list-group-item {
     display: block;
     padding: 10px 25px 10px 15px;
     border: 1px solid rgba(221, 221, 221, 0.25);
     text-decoration: none;
}

.list-group-item .heading {
     color: #141f31;
}

.list-group-item .text {
     color: #272727;
}

.list-group-item.active .heading,
.list-group-item.active .text {
     color: #ffffff;
}

.ribbon-wrapper {
     width: 88px;
     height: 88px;
     overflow: hidden;
     position: absolute;
     top: -3px;
     right: -3px;
     z-index: 1;
}

.ribbon-tag {
     text-align: center;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     position: relative;
     padding: 6px 0;
     left: -4px;
     top: 15px;
     width: 120px;
     color: #ffffff;
     -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
     text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;



}

.inactive {
     background: red;
}

.active {
     background: green;
}

.ribbon-tag:before,
.ribbon-tag:after {
     content: "";
     border-top: 3px solid #50504f;
     border-left: 3px solid transparent;
     border-right: 3px solid transparent;
     position: absolute;
     bottom: -3px;
}

.ribbon-tag:before {
     left: 0;
}

.ribbon-tag:after {
     right: 0;
}

.dealwrapper.purple .ribbon-tag {
     background: rgba(203, 96, 179, 1);
     background: -moz-linear-gradient(top, rgba(203, 96, 179, 1) 0%, rgba(193, 70, 161, 1) 50%, rgba(168, 0, 119, 1) 51%, rgba(219, 54, 164, 1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203, 96, 179, 1)), color-stop(50%, rgba(193, 70, 161, 1)), color-stop(51%, rgba(168, 0, 119, 1)), color-stop(100%, rgba(219, 54, 164, 1)));
     background: -webkit-linear-gradient(top, rgba(203, 96, 179, 1) 0%, rgba(193, 70, 161, 1) 50%, rgba(168, 0, 119, 1) 51%, rgba(219, 54, 164, 1) 100%);
     background: -o-linear-gradient(top, rgba(203, 96, 179, 1) 0%, rgba(193, 70, 161, 1) 50%, rgba(168, 0, 119, 1) 51%, rgba(219, 54, 164, 1) 100%);
     background: -ms-linear-gradient(top, rgba(203, 96, 179, 1) 0%, rgba(193, 70, 161, 1) 50%, rgba(168, 0, 119, 1) 51%, rgba(219, 54, 164, 1) 100%);
     background: linear-gradient(to bottom, rgba(203, 96, 179, 1) 0%, rgba(193, 70, 161, 1) 50%, rgba(168, 0, 119, 1) 51%, rgba(219, 54, 164, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0);
}




.purple .list-group-item.active,
.purple .list-group-item.active:focus,
.purple .list-group-item.active:hover {
     background: rgba(222, 54, 184, 1);
     border-color: #c653aa;
}