.chat-with-data {
    font-weight: normal;
}

/* ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgba(94, 175, 255, 0.5);
    --scrollbar-thumb-hover-color: dodgerblue;
    --scrollbar-border-radius: 4px;
    border: 1px solid gray;
} */