<div class="wrapper-cust-admin" fxLayout style="height: 95%">
    <div class="display-inline-cust">
        <div class="main-search-bar">
            <div class="row d-flex justify-content-between m-3 py-3">
                <div class="mt-2">
                    <!-- <button mat-raised-button color="primary" class="sign-button cust-margin-div mr-1">
                        <div class="row d-flex justify-content-between px-2">
                            <div class="mr-4">Exported</div>
                            <div>15</div>
                        </div>
                    </button>
                    <button mat-raised-button color="primary" class="sign-button cust-margin-div mr-1">
                        <div class="row d-flex justify-content-between px-2">
                            <div class="mr-4">Not Exported</div>
                            <div>2</div>
                        </div>
                    </button> -->
                </div> 
                <div>
                    <!-- <mat-form-field class="mr-2" appearance="outline">
                        <mat-label>Due Date</mat-label>
                        <input matInput>
                        <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
                        <mat-datepicker></mat-datepicker>
                    </mat-form-field> -->
                    <!-- <mat-form-field class="mr-2" appearance="outline">
                        <mat-label>Status</mat-label>
                        <input matInput placeholder="Status" />
                    </mat-form-field> -->

                    <mat-form-field class="" appearance="outline">
                        <mat-label>Serach</mat-label>
                        <input matInput placeholder="Serach" />
                    </mat-form-field>
                    <button mat-raised-button color="primary" style="margin-right: 20px;" class="sign-button ml-2"><img
                            src="{{add_my_self_icon}}" alt="" height="20px">
                        Create Template
                    </button>
                </div>
            </div>


        </div>

    </div>
