<section class="content">
    <div class="content-block">
        <div class="m-4"></div>
        <!-- Your content goes here  -->
        <div class="row clearfix mt-2">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="editButton" (click)="editPress()">
                                <i class="fas fa-pen pull-left card-icon col-white font-20 mt-2"></i>
                            </div>
                            <div class="profile-header bg-indigo">
                                <div class="user-name">{{CompanyData.companyname}}</div>
                                <div class="name-center">{{CompanyData.companycode}}</div>
                            </div>
                            <img src="{{CompanyData.companylogo}}" width="112px" height="112px" class="user-img img-color" alt="">
                            <p> 
                                {{CompanyData.companyaddress}}, {{CompanyData.companyaddresscity}}, {{CompanyData.companyaddressstate}}, {{CompanyData.companyaddresszip}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="p-4">
                        <h4><strong>{{'SETTINGS.VIEW.CONTACT_INFORMATION' | translate}}</strong></h4>
                        <strong>{{'SETTINGS.VIEW.EMAIL_ADDRESS' | translate}}</strong>
                        <br>
                        <p class="text-muted">{{CompanyData.companyemail}}</p>
                        <strong>{{'SETTINGS.VIEW.PHONE' | translate}}</strong>
                        <br>
                        <p class="text-muted">{{CompanyData.companyphone}}</p>
                        <strong>{{'SETTINGS.VIEW.PHONE2' | translate}}</strong>
                        <br>
                        <p class="text-muted">{{CompanyData.companyphone2}}</p>
                        <strong>{{'SETTINGS.VIEW.WEBSITE' | translate}}</strong>
                        <br>
                        <p class="text-muted">{{CompanyData.companywebsite}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="p-4">
                        <h4><strong>{{'SETTINGS.VIEW.COMPANY_INFORMATION' | translate}}</strong></h4>
                        <strong>{{'SETTINGS.VIEW.TYPE_OF_COMPANY' | translate}}</strong>
                        <br>
                        <p class="text-muted">{{companyTypeName}}</p>
                        <strong>{{'SETTINGS.VIEW.NIGP_CODE' | translate}}</strong>
                        <br>
                        <p class="text-muted">{{NigpCode}}</p>
                        <strong>{{'SETTINGS.VIEW.COMPANY_SIZE' | translate}}</strong>
                        <br>
                        <p class="text-muted">{{companySizeName}}</p>
                        <strong>{{'SETTINGS.VIEW.COMPANY_ACTIVE_SINCE' | translate}}</strong>
                        <br>
                        <p class="text-muted">{{CompanyData.companyactivesince}}</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openMailboxListing()">


                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Mailboxes to Monitor</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">inbox</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openEmployeeSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Employee</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">people</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openRolesSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Role</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">clear_all</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openAlertsSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Alerts</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">add_alert</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openSMTPSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">SMTP</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">email</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openIntegrations()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Integration</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">inbox</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openUsage()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Usage</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">storage</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openOtherSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Other Settings</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">settings</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openSecurity()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Security</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">lock</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openCostcode()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Cost Code</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">monetization_on</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openDocumentView()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Document View</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">folder</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openMailboxListing()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-inbox bg-red sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.MAIL_BOXES' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openEmployeeSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-user bg-pink sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.EMPLOYEE' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openRolesSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-sliders-h bg-purple sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.ROLE' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openAlertsSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-bell bg-indigo sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.ALERTS' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openSMTPSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-envelope bg-blue sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.SMTP' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openIntegrations()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-puzzle-piece bg-cyan sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.INTEGRATION' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openUsage()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-database bg-teal sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.USAGE' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openOtherSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-cog bg-green sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.OTHER_SETTINGS' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openSecurity()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-lock bg-yellow sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.SECURITY' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openCostcode()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-dollar-sign bg-orange sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.COST_CODE' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openDocumentView()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-file-invoice bg-brown sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">{{'SETTINGS.SETTINGS_OTHER_OPTION.DOCUMENT_VIEW' |
                                        translate}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>