<section class="content">
    <div class="content-block">
        <!-- Your content goes here  -->
        <div class="row clearfix mt-2">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">Centurion infotech</div>
                                <div class="name-center">R-988514</div>
                            </div>
                            <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
                            <p>
                                American University Park, Washington, District of Columbia, 35268
                            </p>
                            <!-- <div>
                                <span class="phone">
                                    <i class="material-icons">phone</i>(846) 987-8567</span>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-4">
                                    <h5>564</h5>
                                    <small>Following</small>
                                </div>
                                <div class="col-4">
                                    <h5>18k</h5>
                                    <small>Followers</small>
                                </div>
                                <div class="col-4">
                                    <h5>565</h5>
                                    <small>Post</small>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="p-4">
                        <!-- <p class="text-default">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has
                                    been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer
                                    took a galley of type and scrambled it to make a type specimen book. It has
                                    survived
                                    not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially
                                    unchanged.</p> -->
                        <small class="text-muted">Email address: </small>
                        <p>cisagarp@gmail.com</p>
                        <hr>
                        <small class="text-muted">Phone: </small>
                        <p>(846) 987-8567</p>
                        <hr>
                        <small class="text-muted">Website: </small>
                        <p>https://centurioninfotech.com</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Mailboxes to Monitor</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">758</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Employee</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">125</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Role</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">89</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <i class="material-icons-two-tone">inbox</i>
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Mailboxes to Monitor</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Employee</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">125</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Role</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">89</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Mailboxes to Monitor</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">758</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Employee</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">125</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Role</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">89</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Mailboxes to Monitor</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">758</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Employee</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">125</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Role</h5>
                                    </div>
                                    <div class="col-green">
                                        <h3 class="font-weight-bold float-end mb-0">89</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>