<section class="content">
    <div class="content-block">
        <div class="m-4"></div>
        <!-- Your content goes here  -->
        <div class="row clearfix mt-2">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="editButton">
                                <i class="fas fa-pen pull-left card-icon col-white font-20"></i>
                            </div>
                            <div class="profile-header bg-dark">
                                <div class="user-name">Centurion infotech</div>
                                <div class="name-center">R-988514</div>
                            </div>
                            <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
                            <p>
                                American University Park, Washington, District of Columbia, 35268
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="p-4">
                        <h4><strong>Contact information</strong></h4>
                        <strong>Email address</strong>
                        <br>
                        <p class="text-muted">cisagarp@gmail.com</p>
                        <strong>Phone</strong>
                        <br>
                        <p class="text-muted">(846) 987-8567</p>
                        <strong>Phone2</strong>
                        <br>
                        <p class="text-muted">(846) 987-8567</p>
                        <strong>Website</strong>
                        <br>
                        <p class="text-muted">https://centurioninfotech.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="p-4">
                        <h4><strong>Company information</strong></h4>
                        <strong>Type of Company</strong>
                        <br>
                        <p class="text-muted">General Contractor</p>
                        <strong>NIGP Code</strong>
                        <br>
                        <p class="text-muted">03 - Concrete</p>
                        <strong>Company Size</strong>
                        <br>
                        <p class="text-muted">10-19 employees</p>
                        <strong>Company Active Since</strong>
                        <br>
                        <p class="text-muted">2020</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openMailboxListing()">


                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Mailboxes to Monitor</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">inbox</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openEmployeeSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Employee</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">people</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openRolesSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Role</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">clear_all</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openAlertsSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Alerts</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">add_alert</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openSMTPSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">SMTP</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">email</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openIntegrations()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Integration</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">inbox</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openUsage()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Usage</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">storage</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openOtherSettings()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Other Settings</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">settings</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openSecurity()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Security</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">lock</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openCostcode()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Cost Code</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">monetization_on</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="clearfix" (click)="openDocumentView()">
                                <div class="card-right">
                                    <div>
                                        <h5 class="float-end">Document View</h5>
                                    </div>
                                    <div>
                                        <i class="material-icons-two-tone">folder</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openMailboxListing()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-inbox bg-red sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Mailboxes</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openEmployeeSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-user bg-pink sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Employee</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openRolesSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-sliders-h bg-purple sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Role</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openAlertsSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-bell bg-indigo sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Alerts</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openSMTPSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-envelope bg-blue sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">SMTP</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openIntegrations()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-puzzle-piece bg-cyan sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Integration</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openUsage()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-database bg-teal sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Usage</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openOtherSettings()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-cog bg-green sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Other Settings</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openSecurity()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-lock bg-yellow sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Security</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openCostcode()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-dollar-sign bg-orange sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Cost Code</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="info-box7 order-info-box7" (click)="openDocumentView()">
                        <ul class="list-unstyled list-unstyled-noborder">
                            <li class="sales-group-list top-sell">
                                <i class="fas fa-file-invoice bg-brown sell-icon"></i>
                                <div class="set-flex">
                                    <div class="product-title">Document View</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>