<div class="main-cust-setting-div">
    <div class="container mt-5">
        <!-- <form [formGroup]="documentviews"> -->
        <mat-slide-toggle color="primary" [(ngModel)]="Document_View"
            (ngModelChange)="modelChangeSwitch($event,'Document_View')">
            {{'Document_View_Text' | translate}}&nbsp;
            <input maxlength="2" (keypress)="numberOnly($event)" class="input custom-small-field" matInput
                placeholder="{{'' | translate }}" [(ngModel)]="Document_View_time_value"
                (keyup.enter)="modelChangeLocationText($event.target.value,'Document_View')" />
            &nbsp;{{'Document_Invoice_View_Text' | translate}}
            <!-- </form> -->
        </mat-slide-toggle>
    </div>
</div>
