<div class="card mb-3 mr-4">
    <div class="card-body">
        <div class="data">
            <div (click)="editInvoice(invoice)">
                <b>Invoice # </b> <span>{{invoice.invoice}}</span>
                <br />
                <b>P.O # </b> <span>{{invoice.p_o}}</span>
                <br />
                <div class="row"><b class="text-margin">Vendor </b>
                    <div class="text-overflow">{{invoice.vendor.vendor_name }}
                    </div>
                </div>
                <b>Packing Slip </b> <span>{{invoice.packing_slip}}</span>
                <br />
                <b>Receiving Slip </b> <span>{{invoice.receiving_slip}}</span>
                <br />
                <b>{{'Files_Attached' | translate}} </b> <span>{{invoice.attach_files}}</span>
                <br />
                <b
                    [ngClass]="invoice.status == 'Pending'? 'pendingcss' : 'Approvedcss' && invoice.status == 'Approved'? 'Approvedcss' : 'Rejectcss'&& invoice.status == 'Rejected'? 'Rejectcss' : 'Rejectcss'">
                    <span>{{invoice.status}}</span></b>
            </div>

        </div>
    </div>
</div>
