<div class="custom-row justify-content-center align-items-center">
     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 cust-center">
          <div class="card">
               <div class="header">
                    <h2>Change Password</h2>

               </div>
               <div class="body">
                    <form class="register-form m-4" [formGroup]="forcefullyPasswordInfo!" (ngSubmit)="changePassword()">

                         <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                   <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Old Password</mat-label>
                                        <input matInput formControlName="oldpassword"
                                             [type]="hideOld ? 'password' : 'text'" required>
                                        <mat-icon matSuffix (click)="eyeButtonForOldPassword()">
                                             {{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>

                                   </mat-form-field>
                              </div>
                         </div>
                         <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                   <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>New Password</mat-label>
                                        <input matInput formControlName="password"
                                             [type]="hideNew ? 'password' : 'text'" required>
                                        <mat-icon matSuffix (click)="eyeButtonForNewPassword()">
                                             {{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>

                                   </mat-form-field>
                              </div>
                         </div>
                         <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                   <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Password Confirmation</mat-label>
                                        <input matInput formControlName="password_confirmation"
                                             [type]="hideConfirm ? 'password' : 'text'" required>
                                        <mat-icon matSuffix (click)="eyeButtonForConfirmPassword()">
                                             {{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>

                                   </mat-form-field>
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                   <button class="btn-space" type="submit" mat-raised-button
                                        color="primary">Reset</button>

                              </div>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
