@import "src/app/styles/colors";
@import "src/app/styles/variables";
@import "src/app/styles/font";

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    &__login {
        margin-right: 10px;
    }
}

.form_select_cust {
    width: 100%;
}

.form_input_cust {
    width: 100%;
}

.forcefully-cgangepassword-page {
    margin-right: 230px;
    margin-top: 5%;
}

.changepassword-page {
    width: 100%;
    height: 100%;
    display: flex;

    @media (max-width: $medium) {
        flex-direction: column;
    }

    &__content-block {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $medium) {
            width: 100%;
        }
    }

    &__content-wrapper {
        width: 45%;

        padding: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: $small) {
            width: 70%;
        }

        @media (min-width: $medium) and (max-width: $large) {
            width: 45%;
        }
    }
}

.editing {
    margin: 0;
    position: absolute;
    padding-left: 10px;

 }

// .cust-h1-inline{

// }

@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.main-one-input-field {
    width: 100%;
}

.cust-map {
    height: 100%;
    width: 100%;
}

.geocoder-container {
    margin-bottom: 11px;
}

.cust-margin {
    margin: auto 0;
}

.center-cust {
    text-align: center;
    z-index: 100;
}

.row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.example-card {
    height: auto;
    width: 800px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    float: none;


}



.container-cust {
    width: 50%;
    height: 50px;
    padding: 1rem;
    background-color: $blue;
    text-align: center;
    border: solid 0px #979797;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;

    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    label {
        color: white;
        width: 100px;
        height: 25px;
        border-radius: 21.5px;
        //background-color: $blue;
        text-align: center;
        padding: 3px !important;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        color: #38424c;
        margin-bottom: 0px;
    }
}



.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

.cust-center-justify {
    justify-content: center;
}

.files-list {
    margin-top: 1.5rem;
    display: inline-flex;

    .single-file {
        position: relative;
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
        border: dashed 1px #979797;
        margin-bottom: .5rem;
        flex-direction: column;

        .file-icon {
            width: 150px;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;

            }
        }

        .delete {

            background: #00000098;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 5px;
            right: 5px;
        }


        .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
        }

        .size {
            font-size: 12px;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0;
            margin-bottom: 0.25rem;
        }

        .info {
            width: 100%
        }
    }
}



.MuiOutlinedInput-input-1708 {
    padding: 18.5px 14px;
}

.button-color {

    background-color: #154B6D;
    color: white;
}


/* Shake animation */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.display-cust {
    display: inline-flex;
}

.head-text {
    width: 100%;
    height: 30px;
    color: white;
    margin-bottom: 1.3rem;
    background-color: #393E41;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.mat-card {
    padding: 0 !important;
}

// .editing {
//     margin: 0;
//     position: absolute;
//     padding-left: 10px;

//  }

@import "src/app/styles/colors";
@import "src/app/styles/variables";
@import "src/app/styles/font";

.form-actions {
    display: flex;
    //justify-content: center;
    align-items: center;

    &__login {
        margin-right: 10px;
    }
}

.form_select_cust {
    width: 100%;
}

.form_input_cust {
    width: 100%;
}

.auth-page {
    width: 100%;
    height: 100%;
    display: flex;

    @media (max-width: $medium) {
        flex-direction: column;
    }

    &__content-block {
        width: 50%;
        height: 100%;
        background-color: $white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $medium) {
            width: 100%;
        }
    }

    &__content-wrapper {
        width: 45%;

        padding: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: $small) {
            width: 70%;
        }

        @media (min-width: $medium) and (max-width: $large) {
            width: 45%;
        }
    }

    &__group {
        margin-top: 28px;
    }

    &__group-title {
        font-size: 32px;
        font-weight: $fw-normal;
        margin-top: 37px;
        letter-spacing: -0.7px;
        text-align: center;
        line-height: 37px;
        color: $dark-grey;
    }

    &__group-sub-title {
        font-size: $fs-large;
        font-weight: $fw-normal;
        margin-bottom: 60px;
        letter-spacing: -0.5px;
        text-align: center;
        line-height: 24px;
        color: $dark-grey;
    }

    &__google-button-wrapper {
        margin-top: 32px;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__google-button {
        width: 95%;
        padding: 0;
        box-shadow: 0 0 11px 0 $shadow-white, 0 0 0 -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
    }

    &__google-button-icon {
        width: 20px;
        margin-right: 16px;
    }

    &__border-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 32px 0;
    }

    &__border-line {
        height: 1px;
        width: 100%;
        background-color: $light-grey;
        opacity: 0.3;
    }

    &__border-title {
        font-size: $fs-xs;
        padding: 0 16px;
        margin: 0;
        color: $dark-grey
    }

    &__logo {
        width: 63%;
        height: 100%;
        background-color: $blue;
        display: flex;
        align-items: center;

        @media (max-width: $medium) {
            display: none;
        }
    }

    &__logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__logo-img {
        margin-bottom: 50px;
    }

    &__logo-title {
        font-size: 62px;
        color: $header-button-background-color_cust;
        font-weight: 500;
        letter-spacing: -1.5px;
        line-height: 62px;
        font-family: 'Audiowide', cursive;
    }

    &__footer-title {
        color: $blue;
        font-size: 10px;
        opacity: 0.7;

        a {
            text-decoration: none;
            color: $blue;
        }
    }
}

.cust-class-center {
    text-align: center;
    width: 100%;
}

.cust-input-width {
    width: 100%;
}

.cust-center {
    text-align: center;
}

.mat-chip-list-wrapper {
    display: block !important;
}

.login-link {
    color: #007bff;
}
.placeholder {
    position: absolute;
    top: 5px;
    bottom: 0;
    height: 24px;
    font-size: 25px;
    right: 5px;
}