<div class="row wrapper-cust-admin align-items-center h-100">
    <mat-card class="example-card mx-auto">
        <div class="head-text">
            <h3 class="editing">{{'OCPS_Vendor_ResetPassword_Text' | translate}}</h3>
        </div>
        <div class="container">
            <form [formGroup]="forcefully_resetpassword">
                <div class="container-card">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="main-one-input-field">
                                <mat-label>{{'ChangePassword-Old-Password' | translate}}</mat-label>
                                <input matInput type="password" [type]="hideOld ? 'password' : 'text'"
                                    formControlName="oldpassword" class="input-capitalized-textfield" required
                                    placeholder="{{'ChangePassword-Old-Password' | translate}}">
                                <mat-icon matprefix class="placeholder" (click)="eyeButtonForOldPassword()">{{hideOld ?
                                                                'visibility_off' : 'visibility'}}
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="main-one-input-field">
                                <mat-label>{{'ChangePassword-New-Password' | translate}}</mat-label>
                                <input matInput type="password" [type]="hideNew ? 'password' : 'text'"
                                    formControlName="newpassword" class="input-capitalized-textfield" required
                                    placeholder="{{'ChangePassword-New-Password' | translate}}">
                                <mat-icon matprefix class="placeholder" (click)="eyeButtonForNewPassword()">{{hideNew ?
                                                                'visibility_off' : 'visibility'}}
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="main-one-input-field">
                                <mat-label>{{'ChangePassword-Confirm-Password' | translate}}</mat-label>
                                <input matInput type="password" [type]="hideConfirm ? 'password' : 'text'"
                                    formControlName="currentpassword" class="input-capitalized-textfield" required
                                    placeholder="{{'ChangePassword-Confirm-Password' | translate}}">
                                <mat-icon matprefix class="placeholder" (click)="eyeButtonForConfirmPassword()">{{hideConfirm ?
                                                                'visibility_off' : 'visibility'}}
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="cust-center-justify">
                                <button class="button-color"
                                    mat-raised-button>{{'OCPS_Vendor_ResetPassword' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>