.clipboard {
    display: block;
    margin: 4px 0 8px;
}

.icon_position {
     text-align: right;
    // float: right;
    // margin-top: -56px;
    // margin-right: 10px;
}

.text-align{
    width: 96%;
}

.card-body{
    
    padding: 10px;
    // height: 10px;
}