<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="header">
            <h2>Basic chips</h2>

          </div>
          <div class="body">
            <mat-chip-listbox aria-label="Fish selection">
              <mat-chip-option>One fish</mat-chip-option>
              <mat-chip-option>Two fish</mat-chip-option>
              <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
              <mat-chip-option color="warn">Warn fish</mat-chip-option>
            </mat-chip-listbox>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="header">
            <h2>Chips Autocomplete</h2>

          </div>
          <div class="body">
            <form>
              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Favorite Fruits</mat-label>
                <mat-chip-grid #chipGrid aria-label="Fruit selection">
                  <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                    {{fruit}}
                    <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl" [matChipInputFor]="chipGrid"
                  [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)" />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                    {{fruit}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="header">
            <h2>Chips avatar</h2>
          </div>
          <div class="body">
            <mat-chip-listbox aria-label="Dog selection">
              <mat-chip>
                <img matChipAvatar src="../../../assets/images/user/user1.jpg" alt="User image" />
                Dog one
              </mat-chip>
              <mat-chip color="primary">
                <img matChipAvatar src="../../../assets/images/user/user3.jpg" alt="User image" />
                Dog two
              </mat-chip>
              <mat-chip color="accent">
                <img matChipAvatar src="../../../assets/images/user/user2.jpg" alt="User image" />
                Dog three
              </mat-chip>
            </mat-chip-listbox>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="header">
            <h2>Stacked chips</h2>

          </div>
          <div class="body">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
              <mat-chip-option *ngFor="let chip of availableColors" selected [color]="chip.color">
                {{chip.name}}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
