<section class="content">
    <div class="content-block">
        <div class="m-4"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2 *ngIf="isDelete === 0">{{'USERS.VIEW.TITLE' |
                                        translate}}</h2>
                                    <h2 *ngIf="isDelete === 1">{{'USERS.VIEW.ARCHIVED_TITLE' |
                                        translate}}</h2>
                                </li>
                                <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="{{'COMMON.TOOL_TIP.SEARCH' |   translate}}" type="text" #filter
                                        class="browser-default search-field" aria-label="Search box">
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn" *ngIf="isDelete === 0">
                                    <div class="m-l-10" matTooltip="REFRESH">
                                        <button mat-mini-fab color="primary" (click)="refresh()">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn" *ngIf="isDelete === 0">
                                    <div class="m-l-10" matTooltip="HISTORY">
                                        <button mat-mini-fab color="primary" (click)="openHistory()">
                                            <mat-icon class="col-white">history</mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn" *ngIf="isDelete === 0">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.LIST_TO_GRID' |
                                    translate}}">
                                        <button mat-mini-fab color="primary" (click)="listToGrid()">
                                            <mat-icon class="col-white">grid_on </mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn" *ngIf="isDelete === 0">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.ARCHIVE' |
                                    translate}}">
                                        <button mat-mini-fab color="primary" (click)="gotoArchiveUnarchive()">
                                            <mat-icon class="col-white">archive</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn" *ngIf="isDelete === 1">
                                    <div class="m-l-10" matTooltip="{{'COMMON.TOOL_TIP.BACK' |
                                    translate}}">
                                        <button mat-mini-fab color="warn" (click)="gotoArchiveUnarchive()">
                                            <mat-icon class="col-white">close </mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <!-- <li class="tbl-header-btn" *ngIf="isDelete === 0">
                                    <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="MULTI ARCHIVE">
                                        <button mat-mini-fab color="warn" (click)="removeSelectedRows()">
                                            <mat-icon class="col-white">archive </mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn" *ngIf="isDelete === 0">
                                    <div class="m-l-10" matTooltip="REFRESH">
                                        <button mat-mini-fab color="primary" (click)="refresh()">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>
                             
                                <li class="tbl-header-btn" *ngIf="isDelete === 0">
                                    <div class="m-l-10" matTooltip="REPORT" (click)="vendorReport()">
                                        <button mat-mini-fab color="primary">
                                            <mat-icon class="col-white">insert_drive_file</mat-icon>
                                        </button>
                                    </div>
                                </li>
                              
                                <li class="tbl-header-btn" *ngIf="isDelete === 0">
                                    <div class="m-l-10" matTooltip="ADD">
                                        <button mat-mini-fab color="primary" (click)="addNew()">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li *ngIf="isDelete === 0">
                                    <div class="export-button m-l-10" matTooltip="XLSX">
                                        <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="body overflow-auto">
                        <div class="table-responsive">
                            <table mat-table #table [dataSource]="dataSource" matSort class="table mat-cell">
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="img">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef
                                        [ngClass]="'tbl-col-width-per-7'"> {{'USERS.TABLE.IMAGE' |
                                    translate}}
                                    </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-7"><span
                                            class="mobile-label">Image:</span>
                                        <img [src]="row.userpicture" />
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="userfullname">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USERS.TABLE.USER_NAME' |
                                        translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Name:</span>{{row.userfullname}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="userphone">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USERS.TABLE.PHONE' |
                                        translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Phone:</span>{{row.userphone}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="useremail">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USERS.TABLE.EMAIL' |
                                        translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Email:</span>{{row.useremail}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="role_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USERS.TABLE.ROLE' |
                                        translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Role:</span>{{row.role_name}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="userjob_title_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USERS.TABLE.JOB_TITLE' |
                                        translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Job
                                            Title:</span>{{row.userjob_title_name}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="department_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USERS.TABLE.DEPARTMENT' |
                                        translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Department:</span>{{row.department_name}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="userstatus">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'USERS.TABLE.STATUS' |
                                        translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Status:</span>
                                        <div *ngIf="row.userstatus===1">
                                            <span class="badge badge-solid-green">
                                                Active</span>
                                        </div>
                                        <div *ngIf="row.userstatus===2">
                                            <span class="badge badge-solid-red">
                                                Inactive</span>
                                        </div>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell class="psl-3" [ngClass]="'tbl-col-width-per-7'" *matHeaderCellDef>
                                        {{'USERS.TABLE.ACTIONS' |
                                        translate}}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;"
                                        class=" psl-3 table-img tbl-col-width-per-7">
                                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                            (click)="$event.stopPropagation()">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="editUser(row)" *ngIf="isDelete === 0">
                                                <i class="material-icons-two-tone align-middle msr-2">create</i>
                                                <span>Edit</span>
                                            </button>
                                            <button mat-menu-item (click)="deleteUser(row,1)" *ngIf="isDelete === 0">
                                                <i class="material-icons-two-tone align-middle msr-2">archive</i>
                                                <span>Archive</span>
                                            </button>
                                            <button mat-menu-item (click)="deleteUser(row,0)" *ngIf="isDelete === 1">
                                                <i class="material-icons-two-tone align-middle msr-2">archive</i>
                                                <span>Restore</span>
                                            </button>
                                        </mat-menu>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'"
                                    matRipple>
                                    <!-- (click)="editVendor(row)" -->
                                </mat-row>
                            </table>
                        </div>
                        <!-- Loading spinner -->
                        <div *ngIf="userService?.isTblLoading" class="tbl-spinner">
                            <app-loading></app-loading>
                        </div>
                        <!-- context menu end -->
                        <div *ngIf="!userService?.isTblLoading" class="no-results"
                            [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                            No results
                        </div>
                        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0"
                            [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
